@model PickupTimeExample.Models.HomePageModel

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="datePickerDiv">
    @{
        Html.RenderPartial("_DatePicker", Model.pickupTimeModel);
    }
</div>